.button {
  position: absolute;
  right: 20px;
  bottom: 20px;

  padding: 20px;
  border-radius: 10px;
  cursor: pointer;

  /* Adicionando transição suave */
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

  /* Estilo padrão */
  /* Verde, por exemplo */
  background-color: white;
  color: black;
  border: none;

  font-weight: bold;
}

.button:hover {
  /* Mudança de cor ao passar o mouse */
  /* Tom mais escuro de verde */
  background-color: white; 
  
  /* Efeito de leve aumento */
  transform: scale(1.05);

  /* Sombra ao passar o mouse */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.button:active {
  /* Efeito de clique */
  transform: scale(0.95);

  /* Mudança na cor do botão ao clicar */
  background-color: white;
}
